<<<<<<< HEAD
:root{
    --background: #41a0e2;
}

body{
    margin: 0;
    padding: 0;
    background-color:var(--background);
=======
body{
    margin: 0;
    padding: 0;
    background-color: #41a0e2;
>>>>>>> origin/master
}

.fondo{
    width: 1270px;
    padding: 20px;
    background-color: white;
<<<<<<< HEAD
    border: 1px solid #ccc;
=======
    border: 1ps solid #ccc;
>>>>>>> origin/master
    border-radius: 5px;
    margin-top: 25px;
}